*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#my-app{
  width:100%;
  height:100vh;
  background-color: #e0dfdf;
}

.product-section{
  padding:50px;
}

#my-nav{
  position: absolute;
  width:100%;
  height:60px;
  padding-left:30px;
  background-color: whitesmoke;
  z-index:5;
  border-bottom: 1px solid #e2d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.LOGO{
  text-decoration: solid;
  font-size: 20px;
  font-weight: bolder;
  justify-content: space-between;
  padding: 10px 10px;
}
.notify{
  padding: 10px;
  margin-right: 5%;
  font-size: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  
}
.about{
  padding-left: 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.menu-icon{
  width:30px;
  height:30px;
  /* background-color: #e2d8d8; */
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#my-menu{
  height:100vh;
  width:60px;
  background-color: #ffffff;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}

#main{
  display:flex;
  height: 100%;
}


#my-content{
  width:100%;
  padding: 80px 40px;
  height: 100%;
  overflow:auto;
}

#my-content h3{
  margin-bottom: 20px;
}

#my-menu-small{
  position:absolute;
  width:100%;
  bottom:0px;
  display: none;
  justify-content: center;
  padding-top: 20px;
  background-color: #ffffff;
}


#my-menu-small .menu-icon{
  padding: 0px 30px;
  height: fit-content;
  display:flex !important;
  justify-content: center !important;
  align-items: center !important;
}


@media screen and (max-width: 900px) {
  #my-menu{
    display: none;
  }

  #my-menu-small{display: flex;}

  #my-content{
    padding: 80px 20px
  }

  h3{
    font-size: 18px;
  }

  th{
    font-size:14px !important;
  }
}